.root {
  align-items: center;
  background-color: white;
  color: #48a8f5;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

button {
  background-color: white;
  font-size: 0.8em;
  font-family: inherit;
  width: 100px;
  height: 40px;
  border-radius: 3px;
}

.demo-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex: 5;
  justify-content: center;
  width: 100%;
}

.grid-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 40%;
}

@media (max-aspect-ratio: 4/3) {
  .demo-container {
    flex-direction: column;
  }
  .grid-wrapper {
    width: 100%;
  }
}
