.root {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

button {
  font-size: 0.8em;
  width: 100px;
  height: 40px;
  border-radius: 3px;
}

.demo-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex: 5;
  justify-content: center;
  width: 100%;
}

.grid-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 40%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
